# Ігнорувати тимчасові файли VS Code
.vscode/
*.session.sql

# Ігнорувати документи та зображення
*.docx
*.html
*.css
*.png
*.jpg
*.svg

# Ігнорувати великі дані та бінарні файли
*.csv
*.xlsx
*.pbix

Draft/
